<!DOCTYPE html>
<html>
<head>
  <title>MovieBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <a class="navbar-brand" href="#">Movie Box</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: 'nav-link' %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "New movie", new_movie_path, class: 'nav-link' %>
        </li>
        <li>
          <%= link_to "Account", edit_user_registration_path,  class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Log out", destroy_user_session_path, class: 'nav-link', method: 'delete' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign in", new_user_session_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Movie Box</h1>
    <p class="lead">Browse, order and watch movie. Whatever you want!</p>
  </div>
</div>


<%= yield %>


<footer>
  <p>Application by: Mariusz. &copy 2018</p>
</footer>
</body>
</html>
